@model Models.Headline

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete a Headline</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Source)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Source)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Url)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Url)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsTrue)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsTrue)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsNSFW)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsNSFW)
                    </dd>
                </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
