@model BaitNews.Models.Headline


<div>
    <section id="tagline" class="tp--section p-top-sm-100 p-bottom-sm-50">

    <div class="container">
		<h2>@Model.Text</h2>

        <div class="row">
            <div class="col-md-2">
                 <img src="@Model.ImageUrl"
                     alt="Headline Image"
                     height="160" />
            </div>
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Text)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Text)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Source)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Source)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Url)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Url)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsTrue)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsTrue)
                    </dd>
		            <dt>
                        @Html.DisplayNameFor(model => model.IsNSFW)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsNSFW)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

       
    </div>
          </section>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
