@model IEnumerable<BaitNews.Models.Answer>

@{
    ViewBag.Title = "Answers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section id="tagline" class="tp--section p-top-sm-100 p-bottom-sm-50">

	    <div class="container">
            <div class="alert alert-danger">
			  <strong>Warning! </strong> You're editing the production database.
			</div>
		    <h2>Answers</h2>
		
	        <table class="table">
	        <tr>
	        <th>
	            @Html.DisplayNameFor(model => model.HeadlineId)
	        </th>
	        <th>
	            @Html.DisplayNameFor(model => model.UserId)
	        </th>
	        <th>
	            @Html.DisplayNameFor(model => model.CorrectAnswer)
	        </th>
   
	     
	        <th></th>
	    </tr>

	@foreach (var item in Model) {
	    <tr>
	        <td>
	            @Html.DisplayFor(modelItem => item.HeadlineId)
	        </td>
	        <td>
	            @Html.DisplayFor(modelItem => item.UserId)
	        </td>
	        <td>
	            @Html.DisplayFor(modelItem => item.CorrectAnswer)
	        </td>
	        <td>
	            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class= "btn btn-info" })
	            @Html.ActionLink("Delete", "Delete", new { id=item.Id }, new { @class= "btn btn-danger" })
	        </td>
	    </tr>
	}

	</table>
		
	    </div>

    </section>

